<button id="out" onclick="sendMessage();">
    Submit
</button>

<script>
    function sendMessage() {
        alert("hii");
        get.style.backgroundColor = 'red';
        get.innerHTML = "Hii GFG , How r u???"
    }
</script>